
<div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 sidebar">
                <h1 class='title'>TODOS CONTRA TODOS</h1> 
                <app-equipos></app-equipos>  
            </div>
            <div class="col-xs-8">
                <div class='equipos'>Equipos agregados:</div>
                <button (click)='fixture()'>Generar Fixture</button>
                <app-lista-equipos *ngif="showFirst" ></app-lista-equipos>
                <my-other-component *ngif="!showFirst" ></my-other-component> 
            </div>
        </div>
</div>    
    
    